html {
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (min-width:0px){
    body{
        background-color: rgb(250, 245, 240);
        padding: 0 15%;
    }
}
@media (min-width: 1000px){
    body{
        background-color: rgb(250, 245, 240);
        padding: 0 20%;
    }
}
div#heading {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(250, 245, 240);
    padding: 10px 0;
    top: 0px;
    z-index: 1;
}
div.self-information {
    background-image: url("Paper.jpg");
    height:40%;
    text-align: center;
}
div.title{
    padding: 50px 0;
    font-size: 40px;
}
div.self-descript {
    padding: 0 30%;
    font-size: 30px;
}
div.full-name {
    overflow: hidden;
    border-right: .10em solid black; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}
div.nick-name {
    overflow: hidden;
    border-right: .10em solid black; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

div.self-img{
    padding: 0 5%;
    vertical-align: bottom;
    float:left;
}
div.link a.content{
    text-decoration: none;
    color:black;
    padding: 0 5px;
    font-size:large;
}
div.link a:hover{
    font-size: x-large;
}
div#about {
    padding: 20px 50px;
    text-align: left;
    font-size: large;
}
h2.session-heading {
    padding: 30px 0 20px 0;
    text-align: center;
}
button {
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

/* Resume CSS */
div#resume {
    background-color: #a5b1bd;
    position: relative;
    max-width: 1200px;
    padding: 20px 0;
}

div#resume::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 10;
    bottom: 10;
    left: 10%;
}
.box {
    padding: 10px 40px;
    position: relative;
    width: 90%;
    left: 10%
}
.box::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 97.8%;
    background-color:burlywood;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}
.content {
    padding: 20px 20px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border-style: double;
}
li {
    padding: 2px 0;
}
/* End Resume CSS */

/* Skills CSS*/
div#skill {
    padding: 20px 0;
}
div.skill1-detail{
    padding: 0 10px 0 10px;
}
div.skill-content {
    padding: 5px 0;
}
div.skill {
    background-color:gainsboro;
    height: auto;
    width: 100%;
    padding: 10px 20px;
    display: none;
    border-style: double;
}
table {
    width:100%;
    padding: 0 10px 20px 10px;
}
td{
    padding: 3px;
    height: 50px;
    width: 50%;
}
td button{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:rgb(180, 220, 255);
}
a.project-link {
    text-decoration: none;
    color: black;
    background-color: floralwhite;
    border-radius: 5px;
    padding: 0 10px;
}
div#end {
    border-top: 2px solid black;
    border-top-style: dotted;
    padding: 20px 20px;
    text-align: center;
}